body {
    /* Body */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px 10px;
    gap: 50px;
    isolation: isolate;

    position: relative;
    width: 1385px;
    height: 6312px;

    /* Page Background */
    background: #F7F4FF;
}

.header {
    /* Header */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    width: 100%;
    left: 8px;
    top: 8px;

    background: #F7F4FF;

    /*Inside auto layout*/
    flex: none;
    order: 10;
    flex-grow: 0;
    z-index: 10;
}

.header .header-rectangle {
    /* Rectangle 2 */

    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    left: 10px;
    right: 10px;
    top: 10px;

    background: #F7F4FF;
    border-radius: 10px;
}

.header .header-rectangle .logo-group {
    /* Logo group */

    position: relative;
    display: flex;
    align-items: center;
    width: 308.32px;
    height: 71.36px;
    margin: 8px;
}

.header .header-rectangle .logo-group .logo {
    /* Vector */

    position: relative;
    display: flex;
    left: 9.17%;
    right: 85.78%;
    top: 0.71%;
    bottom: 97.69%;
}

.header .header-rectangle .logo-group .company-name {
    /* Lavender */

    position: relative;
    width: 228.49px;
    height: 67.62px;
    left: 3vw;

    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #423172;
}

.header .header-rectangle .menu-group {
    /* Group 2 */

    position: relative;
    display: flex;
    align-items: center;
    width: 627.49px;
    height: 44.12px;
    margin: 8px;
}

.header .header-rectangle .menu-group .menu-buttons {
    position: relative;
    display: flex;
    align-items: center;
    width: 510.12px;
    height: 44.12px;
    right: 5vw;
}

.header .header-rectangle .menu-group .menu-buttons .home {
    /* Home */

    position: relative;
    width: auto;
    height: 43.08px;

    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 42.3252px;
    line-height: 41px;
    display: flex;
    text-align: center;
    margin-left: 3vw;

    align-items: center;

    color: #735DB0;
}

.header .header-rectangle .menu-group .menu-buttons .about-us {
    /* Home */

    position: relative;
    width: auto;
    height: 43.08px;

    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 42.3252px;
    line-height: 41px;
    display: flex;
    margin-left: 3vw;
    margin-right: 3vw;
    align-items: center;
    text-align: center;
    white-space: nowrap;

    color: #423172;
}

.header .header-rectangle .menu-group .menu-buttons .contact-us {
    /* Home */

    position: relative;
    width: auto;
    height: 43.08px;

    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 42.3252px;
    line-height: 41px;
    display: flex;
    margin-right: 3vw;
    align-items: center;

    white-space: nowrap;

    color: #423172;
}

.header .header-rectangle .menu-group .burger-menu {
    /* Home */

    position: relative;
    width: 101.45px;
    height: 43.08px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content .main-image {
    /* Main Product Image */

    /* Auto layout */
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;

    padding: 0px 100px;
    isolation: isolate;

    position: relative;
    width: 100%;
    height: 840px;

    /* BackgroundDark */
    background: #41355C;
}

.content .description-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    padding: 50px 30%;
}

.content .description-area .hook-text {
font-family: 'Iceland';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 31px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

/* TextNeutral */
color: #735DB0;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;
}

.content .description-area .desc-text {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 31px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    color: #423172;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;

}