body {
    /* Body */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0px;
    padding: 0px;
    gap: 50px;

    position: relative;
    width: 100%;
    height: 7000px;

    /* Page Background */
    background: #F7F4FF;
}

.header {
    /* Header */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    width: 100%;
    left: 8px;
    top: 8px;

    background: #F7F4FF;

    /*Inside auto layout*/
    flex: none;
    order: 10;
    flex-grow: 0;
    z-index: 10;
}

.header .header-rectangle {
    /* Rectangle 2 */

    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    left: 10px;
    right: 10px;
    top: 10px;

    background: #F7F4FF;
    border-radius: 10px;
}

.header .header-rectangle .logo-group {
    /* Logo group */

    position: relative;
    display: flex;
    align-items: center;
    width: 308.32px;
    height: 71.36px;
    margin: 8px;
}

.header .header-rectangle .logo-group .logo {
    /* Vector */

    position: relative;
    display: flex;
    left: 9.17%;
    right: 85.78%;
    top: 0.71%;
    bottom: 97.69%;
}

.header .header-rectangle .logo-group .company-name {
    /* Lavender */

    position: relative;
    width: 228.49px;
    height: 67.62px;
    left: 3vw;

    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #423172;
}

.header .header-rectangle .menu-group {
    /* Group 2 */

    position: relative;
    display: flex;
    align-items: center;
    width: 627.49px;
    height: 44.12px;
    margin: 8px;
}

.header .header-rectangle .menu-group .menu-buttons {
    position: relative;
    display: flex;
    align-items: center;
    width: 510.12px;
    height: 44.12px;
    right: 5vw;
}

.header .header-rectangle .menu-group .menu-buttons .home {
    /* Home */

    position: relative;
    width: auto;
    height: 43px;

    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 41px;
    display: flex;
    text-align: center;
    margin-left: 3vw;

    align-items: center;

    color: #735DB0;
}

.header .header-rectangle .menu-group .menu-buttons .about-us {
    /* Home */

    position: relative;
    width: auto;
    height: 43px;

    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 41px;
    display: flex;
    margin-left: 3vw;
    margin-right: 3vw;
    align-items: center;
    text-align: center;
    white-space: nowrap;

    color: #423172;
}

.header .header-rectangle .menu-group .menu-buttons .contact-us {
    /* Home */

    position: relative;
    width: auto;
    height: 43px;

    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 41px;
    display: flex;
    margin-right: 3vw;
    align-items: center;

    white-space: nowrap;

    color: #423172;
}

.header .header-rectangle .menu-group .burger-menu {
    /* Home */

    position: relative;
    width: 101.45px;
    height: 43.08px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0px;
    width: 100%;
}

.content .main-image-bg {
    /* Main Product Image */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 75px 0px 0px;
    gap: 10px;

    width: 100%;
    height: 700px;

    /* BackgroundDark */
    background: #41355C;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0
}

.content .main-image {
    /* Missing Image icon */

    margin: 0 auto;
    width: 350px;
    height: 350px;

    background: #5E5279;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.content .description-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 50px;
    gap: 20px;
}

.content .description-area .product-name {
    /* GAIVA */
    width: 65px;
    height: 24px;

    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    /* TextDark */
    color: #423172;
}

.content .description-area .hook-text {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 31px;
    /* identical to box height */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;

    /* TextNeutral */
    color: #735DB0;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.content .description-area .desc-text {
    width: 800px;

    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

    /* identical to box height */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    color: #423172;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.content .features-and-details {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;

    width: 100%;
    height: 520px;

    /*BackgroundNeutral*/
    background: #716194;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.content .features-and-details .text {
    /* What is GAIVA? GAIVA is a tabletop AI assistant that can assist you in your daily tasks, work, or even in games. What can GAIVA do? ... ... */

    width: 527px;

    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    /* or 38px */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;

    color: #F7F4FF;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.content .features-and-details .what-is-gaiva {
    /* What is GAIVA? GAIVA is a tabletop AI assistant that can assist you in your daily tasks, work, or even in games. What can GAIVA do? ... ... */

    width: 527px;

    font-family: 'Iceland';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    color: #F7F4FF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.content .features-and-details .what-is-gaiva .desc-text {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 100%;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.content .features-and-details .what-can-gaiva-do {
    /* What is GAIVA? GAIVA is a tabletop AI assistant that can assist you in your daily tasks, work, or even in games. What can GAIVA do? ... ... */

    width: 527px;

    font-family: 'Iceland';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    color: #F7F4FF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.content .features-and-details .what-can-gaiva-do .desc-text {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 100%;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.content .features-and-details .image {
    /* Image swap */
    width: 686.83px;
    height: 464px;

    /* BackgroundLight*/
    background: #DFDAED;
    border-radius: 13px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}